.thumb-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px;
    box-shadow: 1px 1px 1px 1px #ccc;
    cursor: pointer;
}

.thumb-container:hover {
    box-shadow: 2px 2px 2px 2px #ccc;
}

.thumb-image > img {
    width: 150px;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
}
